In [3]:
pip install snscrape

Requirement already satisfied: snscrape in c:\users\t\anaconda3\lib\site-packages (0.4.3.20220106)
Requirement already satisfied: lxml in c:\users\t\anaconda3\lib\site-packages (from snscrape) (4.8.0)
Requirement already satisfied: beautifulsoup4 in c:\users\t\anaconda3\lib\site-packages (from snscrape) (4.11.1)
Requirement already satisfied: requests[socks] in c:\users\t\anaconda3\lib\site-packages (from snscrape) (2.27.1)
Requirement already satisfied: filelock in c:\users\t\anaconda3\lib\site-packages (from snscrape) (3.6.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\t\anaconda3\lib\site-packages (from beautifulsoup4->snscrape) (2.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\t\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\t\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\t\anaconda3\lib\site-packages (from requests[socks]->snscrape) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\t\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\t\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import snscrape.modules.twitter as sntwitter #twittern yerine istediimiz platformu koyabiliriz

In [5]:
import pandas as pd

In [7]:
tweets=[]

for i,tweet in enumerate (sntwitter.TwitterSearchScraper('from:elonmusk').get_items()):
    if i>1000: #ka癟tane tweet 癟ekmek istiyorsak
        break
    tweets.append([tweet.date,tweet.id,tweet.content,tweet.username])

C:\Users\T\AppData\Local\Temp\ipykernel_10996\343223117.py:6: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date,tweet.id,tweet.content,tweet.username])

In [8]:
df=pd.DataFrame(tweets,columns=["date","Tweet_id","Text",'Username'])

In [9]:
df.head()

,date,Tweet_id,Text,Username
0,2022-11-12 07:47:20+00:00,1591336830389067778,@WholeMarsBlog FSD V11 rolled out at 11:11pm P...,elonmusk
1,2022-11-12 07:36:39+00:00,1591334141140045824,爬,elonmusk
2,2022-11-12 07:04:19+00:00,1591326005272141826,Twitter is,elonmusk
3,2022-11-12 06:55:42+00:00,1591323837077278721,@KimDotcom @sama Not sure I have much to add,elonmusk
4,2022-11-12 06:47:53+00:00,1591321867029094400,@sama https://t.co/Im1hBlUihz,elonmusk

In [11]:
df.Text[2]

'Twitter is'

In [18]:
tweets2=[]

for i,tweet in enumerate (sntwitter.TwitterSearchScraper('togg').get_items()):
    if i>1000: #ka癟tane tweet 癟ekmek istiyorsak
        break
    tweets2.append([tweet.date,tweet.id,tweet.content,tweet.username])

C:\Users\T\AppData\Local\Temp\ipykernel_10996\1409733210.py:6: FutureWarning: username is deprecated, use user.username instead
  tweets2.append([tweet.date,tweet.id,tweet.content,tweet.username])

In [19]:
df2=pd.DataFrame(tweets2,columns=["date","Tweet_id","Text",'Username'])

In [20]:
df2.head()

,date,Tweet_id,Text,Username
0,2022-11-12 17:53:58+00:00,1591489493982642176,Togg alaca覺m i癟in sat覺l覺k https://t.co/mn8qkh...,dilaraelfgokcan
1,2022-11-12 17:53:53+00:00,1591489472537202688,Mercedes yedek par癟a.\n#TOGG yerli deil diyen...,___DEVLET___
2,2022-11-12 17:53:45+00:00,1591489439980814339,@ankara_kusu Asgari 羹ceret 5500 to bir milyo...,Alizcan00
3,2022-11-12 17:53:41+00:00,1591489422683475976,@tcbuyuksehir Siz yar覺n togg fabrikas覺 繹n羹nde ...,karakulesez
4,2022-11-12 17:53:25+00:00,1591489356602437632,Bu day覺 bedava togg almak i癟in elinden geleni ...,fidan_cenker

In [24]:
print(df2.head(1))

                       date             Tweet_id  \
0 2022-11-12 17:53:58+00:00  1591489493982642176

                                                Text         Username
0  Togg alaca覺m i癟in sat覺l覺k https://t.co/mn8qkh...  dilaraelfgokcan

In [ ]:
tweets3=[]

for i,tweet in enumerate (sntwitter.TwitterSearchScraper('togg since:2022-10-01 until:2022-11-12').get_items()):
    tweets3.append([tweet.date,tweet.id,tweet.content,tweet.username])

C:\Users\T\AppData\Local\Temp\ipykernel_10996\2072766200.py:4: FutureWarning: username is deprecated, use user.username instead
  tweets3.append([tweet.date,tweet.id,tweet.content,tweet.username])

In [ ]:
df3=pd.DataFrame(tweets3,columns=["date","Tweet_id","Text",'Username'])

In [ ]:
df3.head()

In [ ]:
df3.shape

In [ ]:
tweets3=[]

for i,tweet in enumerate (sntwitter.TwitterSearchScraper('togg near:"Los Angeles" within:10km').get_items()):
    tweets3.append([tweet.date,tweet.id,tweet.content,tweet.username])

In [ ]:
df3=pd.DataFrame(tweets3,columns=["date","Tweet_id","Text",'Username'])

In [ ]:
df3.head()

In [ ]:
tweets3=[]

for i,tweet in enumerate (sntwitter.TwitterSearchScraper('togg geocode: near:"34.052535,-118.243683, 100km').get_items()):
    tweets3.append([tweet.date,tweet.id,tweet.content,tweet.username])

In [ ]:
df3=pd.DataFrame(tweets3,columns=["date","Tweet_id","Text",'Username'])

In [ ]:
df3.head()

In [ ]:
df3.shape